<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrintVendorList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PrintVendorList.Properties.Settings>
            <setting name="PrintVendorList_NAVService_SystemService" serializeAs="String">
                <value>http://localhost:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/SystemService</value>
            </setting>
            <setting name="PrintVendorList_NAVService_Mobile_Sales_Management"
                serializeAs="String">
                <value>http://localhost:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Codeunit/Mobile_Sales_Management</value>
            </setting>
            <setting name="PrintVendorList_NAVService_Vendor_Service" serializeAs="String">
                <value>http://localhost:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/Vendor</value>
            </setting>
        </PrintVendorList.Properties.Settings>
    </applicationSettings>
</configuration>